.StatsBlock {
  display: flex;
  padding: 32px 0 28px;
  border-bottom: 1px solid #f0f0f0;
}

.StatsBlock h3 {
  font-size: 1.4em;
}
.StatsBlock:last-child {
  border-bottom: none;
  padding-top: 6px;
}
.StatsBlock:last-child .arrow {
  display: none;
}
.StatsBlock .image-column {
  flex: 11%;
}
.StatsBlock .image-column .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2296f3;
  position: relative;
}
.StatsBlock .image-column .icon .Point {
  float: right;
}
.StatsBlock .image-column .icon .icon__img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.StatsBlock .image-column .arrow {
  width: 20px;
  height: 60px;
  position: relative;
  top: 0px;
  left: 15px;
}
.StatsBlock .title-column {
  flex: 32%;
}
.StatsBlock .title-column .title {
  margin: 0;
  margin-bottom: 8px;
}
.StatsBlock .title-column .daily-stats {
  padding: 5px 0;
  font-size: 1em;
}
.StatsBlock .title-column .daily-stats .big-font {
  font-size: 1.7em;
}
.StatsBlock .desc-column {
  flex: 57%;
}
.StatsBlock .desc-column .link {
  color: #2296f3;
  text-decoration: none;
}

.StatsBlock .desc-column .link:hover {
  text-decoration: underline;
}

.StatsBlock .desc-column .header {
  margin: 0;
  margin-bottom: 9px;
}
.StatsBlock .desc-column .header.header--fail {
  color: #f46867;
}

.StatsBlock .desc-column .description {
  font-size: 1em;
  margin-bottom: 9px;
}
