.btn {
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 8px 8px 6px;
    font-family: 'Open sans', sans-serif;
    font-size: 1.1em;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
  }
  
  .btn:hover {
    background-color: #2296f3;
    border-color: #2296f3;
    color: #fff;
  }
  
  .btn--active {
    background-color: #2296f3;
    border-color: #2296f3;
    color: #fff;
  }
  .btn-group {
    padding: 3px 0 5px;
  }
  .btn-group .btn {
    width: 94px;
    border-radius: 0;
  }
  
  .btn-group .btn:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  
  .btn-group .btn:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }