.ProgressBar .progress {
  display: flex;
  height: 0.6rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin: 20px 0;
}

.ProgressBar .progress .bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
  border-right: 1px solid #fff;
}
.ProgressBar .progress .bar.bar--yellow,
.ProgressBar .legend-item.legend-item--yellow:before {
  background-color: #ffcc00;
}
.ProgressBar .progress .bar.bar--purple,
.ProgressBar .legend-item.legend-item--purple:before {
  background-color: #5856d5;
}
.ProgressBar .progress .bar.bar--blue,
.ProgressBar .legend-item.legend-item--blue:before {
  background-color: #2296f3;
}
.ProgressBar .progress .bar.bar--gray,
.ProgressBar .legend-item.legend-item--gray:before {
  background-color: #a0b0b9;
}
.ProgressBar .legend {
  margin-left: 18px;
}
.ProgressBar .legend .legend-item {
  display: inline-block;
  margin-right: 50px;
  font-size: 0.9em;
  font-weight: 600;
  position: relative;
}

.ProgressBar .legend .legend-item:before {
  content: ' ';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
  left: -18px;
  border-radius: 2px;
}
